# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Poetry
poetry.lock

# Project specific
_.sh
output/
data/*.txt
*.sexp

# Editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
.directory
.Trash-*

# Gutenberg text files
data/pg*.txt
data/texts_catalog.csv
